@font-face {
  font-family: "akzidenzgroteskbq-ligcnd";
  src: url("../fonts/akzidenzgroteskbq-ligcnd.otf");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGrotesk-MediumCondAlt";
  src: url("../fonts/AkzidenzGrotesk-MediumCondAlt.otf");
  font-display: swap;
}

@font-face {
  font-family: "Proxima-Nova-Light";
  src: url("../fonts/Proxima-Nova-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url("../fonts/Proxima-Nova-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Proxima-Nova-Medium";
  src: url("../fonts/Proxima-Nova-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/Proxima-Nova-Bold.otf");
  font-display: swap;
}

:root {
  --white: #fff;
  --green: #78866b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav a,
.dossier button {
  font-family: "akzidenzgroteskbq-ligcnd";
}

.portada button,
.serie h2,
.plataforma h2,
.plataforma h3 {
  font-family: "AkzidenzGrotesk-MediumCondAlt";
}

.serie p {
  font-family: "Proxima-Nova-Light";
}

.serie h3 {
  font-family: "Proxima-Nova-Medium";
}

.plataforma .capitulo-descripcion p {
  font-family: "Proxima-Nova-Regular";
}

.plataforma .capitulo-duracion {
  font-family: "Proxima-Nova-Bold";
}

/* ------------------------------------------ */

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 80px 40px;
}

/* ------------------------------------------ */

header {
  height: 50px;
  background-color: #000;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

header nav {
  width: 80%;
  height: max-content;
  background: #000;
  position: fixed;
  right: -100%;
}

header nav ul li {
  display: block;
  float: none;
}

header nav ul li a {
  font-size: 20px;
  margin: 0 10px;
  padding: 15px 5px;
  display: block;
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}

.seleccionado {
  color: var(--white);
}

.subrayado {
  border-bottom: 2px solid var(--white);
}

header .menuBar {
  height: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: flex-end;
}

header .menuBar div {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 50px;
}

header .menuBar i {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

/* ------------------------------------------ */

.portada {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 50px;
}

.portada img {
  width: 100%;
  height: 100%;
}

.portada button {
  display: none;
  background-color: #999;
  transition: background-color 0.1s ease-in-out;
}

.portada button:hover {
  background-color: #666;
}

/* ------------------------------------------ */

.serie {
  background: transparent url("../images/serieMovil.jpg") no-repeat center
    center;
  background-size: cover;
  color: var(--white);
}

.serie .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 250px;
  width: 40%;
  margin: 0 auto;
}

.serie .content h3 {
  margin-bottom: 10px;
}

.serie img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.serie h2 {
  font-size: 60px;
}

.serie h3 {
  font-size: 20px;
}

.serie p {
  font-size: 15px;
}

/* ------------------------------------------ */

.plataforma {
  background-color: var(--white);
}

.plataforma article {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-top: 0.1px solid #999;
}

.plataforma article > * {
  margin-top: 10px;
}

.plataforma article div * {
  margin-bottom: 10px;
}

.plataforma article .capitulo-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.plataforma article .capitulo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plataforma article .capitulo-video {
  order: 1;
}
.plataforma article .capitulo-descripcion {
  order: 2;
}
.plataforma article .capitulo-duracion {
  order: 3;
}

.plataforma h2 {
  margin: 10px 0;
  font-size: 40px;
}

.plataforma h3 {
  font-size: 30px;
}

.plataforma .capitulo-descripcion p {
  font-size: 15px;
}

.plataforma .capitulo-duracion {
  font-size: 20px;
}

/* ------------------------------------------ */

.galeria img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
}

/* ------------------------------------------ */

.dossier {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dossier img {
  width: 100%;
  height: 100%;
}

.dossier button {
  font-size: 25px;
  position: absolute;
  top: 50px;
  padding: 10px 20px;
  border-radius: 25px;
  border: thin solid transparent;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
  cursor: pointer;
  vertical-align: middle;
}

.dossier button {
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
.dossier button:hover {
  background-color: #aaa;
}

.dossier button i {
  display: none;
}

.dossier button:active {
  background-color: #888;
}

/* ------------------------------------------ */

@media screen and (min-width: 640px) {
  .container {
    padding: 100px 40px;
  }

  header nav {
    width: 100%;
    height: 50px;
  }

  header .menuBar {
    display: none;
  }

  header nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  header .menu {
    height: 100%;
  }

  header nav ul li a:hover {
    color: #aaa;
    background: none;
  }

  /* ------------------------------- */

  .portada button {
    display: block;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    padding: 10px 20px;
    background-color: #999;
    border-radius: 25px;
    border: thin solid #999;
    color: var(--white);
    cursor: pointer;
  }

  .portada button i {
    font-size: 16px;
  }

  .portada button:hover {
    background-color: #666;
  }

  .portada button:active {
    background-color: #555;
  }

  .portada button i {
    margin: 0 5px;
  }

  /* ------------------------------- */

  .serie .content {
    margin: 0;
    width: 40%;
  }

  /* ------------------------------- */

  .plataforma article {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 20px;
  }

  .plataforma article * {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  /* ------------------------------- */

  .portada img {
    content: url("../images/portadaTablet.jpg");
  }

  /* ------------------------------- */

  .serie {
    background-image: url("../images/serie.jpg");
  }

  .serie h2 {
    font-size: 100px;
  }

  .serie h3 {
    font-size: 25px;
  }

  .serie p {
    font-size: 20px;
  }

  /* ------------------------------- */

  .plataforma h2 {
    font-size: 60px;
  }

  .plataforma h3 {
    font-size: 35px;
  }

  .plataforma .capitulo-descripcion p {
    font-size: 20px;
  }

  .plataforma .capitulo-duracion {
    text-align: right;
    font-size: 25px;
  }

  /* ------------------------------- */

  .galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .galeria img {
    margin-top: 0;
  }

  .galeria .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .galeria .content:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .galeria .content:nth-child(even) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .galeria .content:nth-child(odd) div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
  }

  .galeria .content:nth-child(even) div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

  /* ------------------------------- */

  .dossier button {
    top: 100px;
    font-size: 30px;
    border-radius: 50px;
  }

  .dossier button i {
    display: inline;
    font-size: 40px;
    margin: 0 10px;
    vertical-align: -10%;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    padding: 120px 40px;
  }
  .portada > img {
    content: url("../images/portada.jpg");
  }

  .portada button {
    bottom: 120px;
  }

  /* ------------------------------- */

  .serie h2 {
    font-size: 148px;
  }

  .serie h3 {
    font-size: 30px;
  }

  .serie p {
    font-size: 25px;
  }

  /* ------------------------------- */

  .plataforma h2 {
    font-size: 70px;
  }

  .plataforma h3 {
    font-size: 40px;
  }

  .plataforma .capitulo-descripcion p {
    font-size: 25px;
  }

  .plataforma .capitulo-duracion {
    font-size: 30px;
  }

  /* ------------------------------- */

  .dossier button {
    top: 120px;
  }
}
